BOT_TOKEN=YOUR_TELEGRAM_API_TOKEN
PROXY_URL=YOUR_PROXY_URL

PASSWORD=YOUR_SECRET_PASSWORD

# BOT_NAME=mybot
# METRICS_PORT=9101

LOG_LEVEL=DEBUG
LOG_FILE=logs/custom.log
LOG_MAX_SIZE=5
LOG_BACKUP_COUNT=7
